<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nafabi - Restaurant Finder</title>
    <link rel="icon" type="image/png" href="./images/icon.png" />
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="container">
      <div class="header-mobile">
        <div class="gridding__row">
          <div class="gridding__col-2">
            <a href="#" class="burger-container">
              <div id="burger">
                <div class="bar topBar"></div>
                <div class="bar btmBar"></div>
              </div>
            </a>
          </div>
          <div class="gridding__col-10">
            <a href="/" class="main-logo">nafabi<span class="dot">.</span></a>
          </div>
        </div>
        <ul class="menu">
          <li class="menu-item menu-mobile">
            <a class="menu-name" tabindex="-1" href="/"> Home </a>
          </li>
          <li class="menu-item menu-mobile">
            <a class="menu-name" tabindex="-1" href="#"> Favorite </a>
          </li>
          <li class="menu-item menu-mobile">
            <a class="menu-name" tabindex="-1" href="https://github.com/wrmn">
              About
            </a>
          </li>
        </ul>
      </div>
      <div class="header">
        <div class="gridding__row">
          <div class="gridding__col-1"></div>
          <div class="gridding__col-6">
            <a href="/" class="main-logo">nafabi<span class="dot">.</span></a>
          </div>
          <ul class="menu gridding__col-4">
            <div class="gridding__row">
              <li class="menu-item gridding__col-3">
                <a href="#">
                  <span></span>
                  <text>Home</text>
                </a>
              </li>
              <li class="menu-item gridding__col-3">
                <a href="#">
                  <span></span>
                  <text>Favorite</text>
                </a>
              </li>
              <li class="menu-item gridding__col-3">
                <a href="https://github.com/wrmn">
                  <span></span>
                  <text>About</text>
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="content" id="maincontent">
        <div class="hero-element">
          <div class="hero-content">
            <div class="tagline">Have A Good Meal</div>
            <div class="main-logo">nafabi<span class="dot">.</span></div>
            <div>Search Restaurant</div>
          </div>
        </div>
        <div class="list">
          <div class="list-header">Here some list you might be like</div>
          <div class="list-body gridding__row">
              <div class="card gridding__col-3">
              <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Avatar" style="width: 100%" />
              <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
