.gridding {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;

  &--fluid {
    margin: 0;
    max-width: 100%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @for $i from 1 through $grid__cols {
    &__col-r#{$i} {
      flex-basis: (200 / ($grid__cols / $i)) * 1%;
    }
    &__col-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
   
    @media (min-width: 866px) {
      &__col-r#{$i} {
        flex-basis: (150 / ($grid__cols / $i)) * 1%;
      }
    }
    @media (min-width: 1281px) {
      &__col-r#{$i} {
        flex-basis: (100 / ($grid__cols / $i)) * 1%;
      }
    }
    @media (min-width: 1700px) {
      &__col-r#{$i} {
        flex-basis: (75 / ($grid__cols / $i)) * 1%;
      }
    }
  }
}
