.gridding {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;

  &--fluid {
    margin: 0;
    max-width: 100%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @for $i from 1 through $grid__cols {
    &__col-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
  }
}
