$fontMainColor: #6c7982;
$fontSecondaryColor: #c15a1f;
$mainColor: #1a1b1d;

$mainFont: "Darker Grotesque",
sans-serif;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$menuItems: 3;
$grid__bp-md: 768;
$grid__cols: 12;