@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap");
@import "./variables";
@import "./gridding";
@import "./header-mobile";
@import "./header";

body {
    background: $mainColor;
    color: white;
}

.dot {
    color: $fontSecondaryColor;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;

    .content {
        box-shadow: 0 0 65px 15px rgba(#000, 0.2);
        padding-top: 50px;

        .hero-element {
            background: url("./../public/images/heros/hero-image_4.jpg") no-repeat center center scroll;
            background-size: cover;
            height: 70vh;
            width: 100%;
            display: flex;

            .hero-content {
                margin: auto;
                text-align: center;
                padding: 5%;

                background-color: rgba($mainColor, 0.8);
                border-radius: 10% 0;

                font-family: $mainFont;

                .tagline {
                    font-size: 2em;
                }

                .main-logo {
                    font-size: 6em;
                    padding-bottom: 10%;
                }
            }
        }

        @media (min-width:660px) {
            padding-top: 75px;
        }
    }
}